<div class="text-left mb-4">
    <h3 class="display-4 text-primary">Yeni Duyuru Ekle</h3>
</div>
<form #ekipduyuruAddForm="ngForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
        <input type="text" placeholder="Ekip adı giriniz" #ekip="ngModel" [(ngModel)]="ekipduyuru.ekip"
        
            class="form-control" name="ekip" id="ekip" required>
        <div *ngIf="ekip.invalid&&ekip.dirty" class="alert alert-danger mt-2"><small>Ekip adı gereklidir.</small></div>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Duyuruyu  giriniz" #duyuru="ngModel"
            [(ngModel)]="ekipduyuru.duyuru" class="form-control" name="duyuru" id="duyuru" required>
        <div *ngIf="duyuru.invalid&&duyuru.dirty" class="alert alert-danger mt-2"><small>Ekip duyurusu
                gereklidir.</small></div>
    </div>
    <div class="form-group">
        <input type="text" placeholder="Tarihi giriniz  " #tarih="ngModel"
            [(ngModel)]="ekipduyuru.tarih" class="form-control" name="tarih" id="tarih" required>
        <div *ngIf="tarih.invalid&&tarih.dirty" class="alert alert-danger mt-2"><small>Tarih gereklidir.</small>
        </div>
    </div>
    <button type="submit" class="btn btn-primary" [disabled]="ekipduyuruAddForm.invalid">Duyuru  Ekle</button>
</form>