<div class="p-p-6">
    <form #reservationAddForm="ngForm" (ngSubmit)="onSubmitSave()">
        <div class="p-fluid">
            <div class="p-field p-col-12">
                <label for="id">İşlem Numarası Giriniz</label><br>
                <input type="text" maxlength="25" pInputText id="salon" placeholder="İşlem Numarası Giriniz" #id="ngModel"
                    [(ngModel)]="reservation.id" name="id" required />
            </div>
        </div>
        <div class="p-fluid">
            <div class="p-field p-col-12">
                <label for="title">Sandalye Sayısı Giriniz</label><br>
                <input type="text" maxlength="25" pInputText id="title" placeholder="Sandalye Sayısı Giriniz" #title="ngModel"
                    [(ngModel)]="reservation.chairNum" name="title" required />
            </div>
        </div>

        <div class="p-fluid">
            <div class="p-field p-col-12">
                <label for="tableNo">İçerik Giriniz</label>
                <textarea type="text" maxlength="25" pInputText id="tableNo" placeholder="Masa Sayısı Giriniz"
                    #tableNo="ngModel" [(ngModel)]="reservation.tableNo" name="tableNo" required> </textarea>

            </div>
        </div>

        <div class="p-text-right p-mr-2">
            <p-button type="submit" icon="pi pi-check" label="Reservasyon Ekle" class="p-button-text"
               ></p-button>
        </div>
    </form>
</div>