<style>
    h1{
        text-align: center;
        color: rgb(195, 151, 201);
    }
</style>

<h1 id="title">Create New Table</h1>


<p-card [style]="{width: '450px'}"   >
    

    <label style="color: blueviolet;" >Table No:</label><br>
    <input class="p-d-block p-mx-auto" type="text" pInputText /><br>

    <label style="color: blueviolet;"  >Chair Num:</label><br>
    <input class="p-d-block p-mx-auto" type="text" pInputText /><br>

    <button style="margin-top: 5%;" pButton type="button" label="Create" class="p-button-outlined"></button>
    <button pButton type="button" label="Cancel" class="p-button-outlined"></button>

</p-card>
