
<div class="p-grid p-align-center vertical-container">
    <div class="p-col">
        <div class="box"></div>
    </div>
    <div class="p-col">
        <div class="box">
            <p-card header="Announcement Add Card" [style]="{width: '450px'}">
                <div style="line-height:1.5">
                    <label for="">ID:</label>
                    <input class="p-d-block p-mx-auto" type="text" pInputText /><br>
                    <label for="">Title:</label>
                    <input class="p-d-block p-mx-auto" type="text" pInputText /><br>
                    <label for="">Content:</label>
                    <input class="p-d-block p-mx-auto" type="text" pInputText /><br>
                    <button style="margin-top: 20px;" pButton pRipple type="submit" label="ADD" class="p-button-success"></button>
                </div>
            </p-card>
        </div>
    </div>
    <div class="p-col">
        <div class="box"></div>
    </div>
</div>