<div class="container">
    <p-card header="Kullanıcı Girişi"
        [style]="{'text-align':'center','width': '25rem', 'margin-bottom': '2em', 'background-color':'rgb(248,249,250)','color': '#0D89EC'}">
        <form #userLogin="ngForm" (ngSubmit)="login()">
            <hr>
            <div class="p-fluid" style="color:black;text-align:left;">
                <div class=" p-field p-col-12">
                    <label for="username">Kullanıcı Adı</label>
                    <span class="p-input-icon-right">
                        <i class="pi pi-user" style="color:#0D89EC;"></i>
                        <input type="text" maxlength="25" pInputText id="username" placeholder="Kullanıcı adı giriniz"
                            name="username" #username="ngModel" [(ngModel)]="user.username" required />
                    </span>
                </div>
                <div class=" p-field p-col-12">
                    <label for="password">Şifre</label>
                    <span class="p-input-icon-right">
                        <i class="pi pi-lock" style="color:#0D89EC;"></i>
                        <input pPassword type="password" [feedback]="false" placeholder="Şifre giriniz" name="password"
                            id="password" maxlength="25" #password="ngModel" [(ngModel)]="user.password" required />
                    </span>
                </div>
            </div>
            <div class=" p-field p-col-12 p-text-center" style="background-color:red;color:white;border-radius: 5px;"
                *ngIf="errorMessage">
                <label>{{errorMessage}}</label>
            </div>
            <div class="p-text-right p-mr-2">
                <p-button type="submit" icon="pi pi-sign-in" label="Giriş Yap" class="p-button-text"
                    [disabled]="userLogin.invalid"></p-button>
            </div>
        </form>
    </p-card>
</div>