<!-- Timer Spinner -->
<ngx-spinner bdColor="rgba(0, 0, 0, 0.8)" size="medium" color="#fff" type="timer" [fullScreen]="true">
    <p style="color: white;font-size:18px"> Yükleniyor... </p>
</ngx-spinner>

<div class="p-p-4">
    <!-- Doğum Günü Ekle Butonu -->
    <div class="p-text-center">
        <button pButton pRipple type="button" label="Doğum Günü Ekle" icon="pi pi-plus"
            class="p-button-outlined p-button-success" (click)="showModalDialogAdd()"></button>
    </div>
    <br>
    <hr class="hrGray"><br>

    <!-- Doğum Günü Ekle Penceresi -->
    <p-dialog header="Doğum Günü Ekle" [(visible)]="modalAdd" [modal]="true" [style]="{width: '35vw'}"
        [baseZIndex]="10000" [draggable]="false" [resizable]="false" [contentStyle]="{'overflow': 'visible'}">
        <hr>
        <form #birthdayAddForm="ngForm" (ngSubmit)="onSubmitSave()">
            <div class="p-fluid">
                <div class="p-field p-col-12">
                    <label for="date">Doğum Tarihi</label>
                    <p-calendar [showIcon]="true" id="date" #date="ngModel" [(ngModel)]="birthdayObject.date"
                        name="date" [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100"
                        showButtonBar="true" dateFormat="dd.mm.yy" [locale]="calendarLocateTr" required>
                    </p-calendar>
                </div>
                <div class="p-field p-col-12">
                    <label for="title">Kimin Doğum Günü?</label>
                    <span class="p-input-icon-right">
                        <i class="pi pi-user" style="color:#0D89EC;"></i>
                        <input type="text" maxlength="25" pInputText id="title" placeholder="İsim giriniz"
                            #title="ngModel" [(ngModel)]="birthdayObject.title" name="title" required />
                    </span>
                </div>
                <div class="p-field p-col-12">
                    <label for="yearCount">Kaç Yıl Boyunca Takvime Kaydedilsin?</label>
                    <p-inputNumber mode="decimal" [showButtons]="true" id="yearCount" name="yearCount" [min]="1"
                        [max]="100" #yearCount="ngModel" [(ngModel)]="saveYearCounter" required>
                    </p-inputNumber>
                </div>
            </div>
            <div class="p-text-right p-mr-2">
                <p-button type="submit" icon="pi pi-check" label="Kaydet" class="p-button-text"
                    [disabled]="birthdayAddForm.invalid"></p-button>
            </div>
        </form>
    </p-dialog>

    <!-- Doğum Günü Güncelle Penceresi -->
    <p-dialog header="Doğum Günü Güncelle" [(visible)]="modalUpdate" [modal]="true" [style]="{width: '35vw'}"
        [baseZIndex]="10000" [draggable]="false" [resizable]="false" [contentStyle]="{'overflow': 'visible'}">
        <hr>
        <form #birthdayUpdateForm="ngForm" (ngSubmit)="onSubmitUpdate()">
            <div class="p-fluid">
                <div class="p-field p-col-12">
                    <label for="date">Doğum Tarihi</label>
                    <p-calendar [showIcon]="true" id="date" #date="ngModel" [(ngModel)]="updateTempDate" name="date"
                        [monthNavigator]="true" [yearNavigator]="true" yearRange="2000:2100" showButtonBar="true"
                        dateFormat="dd.mm.yy" [locale]="calendarLocateTr" required>
                    </p-calendar>
                </div>
                <div class="p-field p-col-12">
                    <label for="title">Kimin Doğum Günü?</label>
                    <span class="p-input-icon-right">
                        <i class="pi pi-user" style="color:#0D89EC;"></i>
                        <input type="text" maxlength="25" pInputText id="title" placeholder="İsim giriniz"
                            #title="ngModel" [(ngModel)]="updateTempTitle" name="title" required />
                    </span>
                </div>
            </div>
            <div class="p-text-right p-mr-2">
                <p-button type="submit" icon="pi pi-check" label="Güncelle" class="p-button-text"
                    [disabled]="birthdayUpdateForm.invalid"></p-button>
            </div>
        </form>
    </p-dialog>

    <!-- 3 Doğum Günü Zaman Tablosu -->
    <div class="p-grid">
        <div class="p-col-12 p-md-12 p-lg-4">
            <div class="box p-m-2 p-p-1 pastBirthdayColor">
                <h4 class="p-ml-2">Geçmiş Doğum Günleri</h4>
                <hr class="p-ml-2 p-mr-2">
                <div *ngFor="let birthday of pastBirthdays | async">
                    <div class="birthday-item p-ml-3">
                        <div class="birthday-list-detail">
                            <p class="p-mb-1"><i class="pi pi-user birthday-icon"></i>{{birthday.title}}</p>
                            <i class="pi pi-calendar birthday-icon"></i>
                            <span class="birthday-date">{{birthday.date | date:'dd.MM.yyyy'}}</span>
                        </div>
                        <div class="birthday-list-action p-mr-5">
                            <span class="p-buttonset">
                                <button pButton pRipple type="button" icon="pi pi-trash"
                                    class="p-button-rounded p-button-danger"
                                    (click)="deleteBirthday(birthday.id)"></button>
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                    class="p-button-rounded p-button-danger"
                                    (click)="showModalDialogUpdate(birthday)"></button>
                            </span>
                        </div>
                    </div>
                    <hr class="p-ml-4 p-mr-4">
                </div>
                <div *ngIf="!(pastBirthdays | async)?.length">
                    <div class="birthday-item p-ml-3">
                        <div class="birthday-list-detail">
                            <p class="p-mb-1"><i class="pi pi-info-circle birthday-icon">
                                </i>Geçmiş doğum günü bulunmamaktadır.</p>
                        </div>
                    </div>
                    <hr class="p-ml-4 p-mr-4">
                </div>
                <br>
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-lg-4">
            <div class="box p-m-2 p-p-1 currentBirthdayColor">
                <h4 class="p-ml-2">Bugün Olan Doğum Günleri</h4>
                <hr class="p-ml-2 p-mr-2">
                <div *ngFor="let birthday of currentBirthdays | async">
                    <div class="birthday-item p-ml-3">
                        <div class="birthday-list-detail">
                            <p class="p-mb-1"><i class="pi pi-user birthday-icon"></i>{{birthday.title}}</p>
                            <i class="pi pi-calendar birthday-icon"></i>
                            <span class="birthday-date">{{birthday.date | date:'dd.MM.yyyy'}}</span>
                        </div>
                        <div class="birthday-list-action p-mr-5">
                            <span class="p-buttonset">
                                <button pButton pRipple type="button" icon="pi pi-trash" class="p-button-rounded"
                                    style="background-color: #17A2B8;border-color:#17A2B8"
                                    (click)="deleteBirthday(birthday.id)"></button>
                                <button pButton pRipple type="button" icon="pi pi-pencil" class="p-button-rounded"
                                    style="background-color: #17A2B8; border-color:#17A2B8"
                                    (click)="showModalDialogUpdate(birthday)"></button>
                            </span>
                        </div>
                    </div>
                    <hr class="p-ml-4 p-mr-4">
                </div>
                <div *ngIf="!(currentBirthdays | async)?.length">
                    <div class="birthday-item p-ml-3">
                        <div class="birthday-list-detail">
                            <p class="p-mb-1"><i class="pi pi-info-circle birthday-icon">
                                </i>Bugün doğum günü bulunmamaktadır.</p>
                        </div>
                    </div>
                    <hr class="p-ml-4 p-mr-4">
                </div>
                <br>
            </div>
        </div>
        <div class="p-col-12 p-md-12 p-lg-4">
            <div class="box p-m-2 p-p-1 nextBirthdayColor">
                <h4 class="p-ml-2">Gelecek Doğum Günleri</h4>
                <hr class="p-ml-2 p-mr-2">
                <div *ngFor="let birthday of nextBirthdays | async">
                    <div class="birthday-item p-ml-3">
                        <div class="birthday-list-detail">
                            <p class="p-mb-1"><i class="pi pi-user birthday-icon"></i>{{birthday.title}}</p>
                            <i class="pi pi-calendar birthday-icon"></i>
                            <span class="birthday-date">{{birthday.date | date:'dd.MM.yyyy'}}</span>
                        </div>
                        <div class="birthday-list-action p-mr-5">
                            <span class="p-buttonset">
                                <button pButton pRipple type="button" icon="pi pi-trash"
                                    class="p-button-rounded p-button-secondary"
                                    (click)="deleteBirthday(birthday.id)"></button>
                                <button pButton pRipple type="button" icon="pi pi-pencil"
                                    class="p-button-rounded p-button-secondary"
                                    (click)="showModalDialogUpdate(birthday)"></button>
                            </span>
                        </div>
                    </div>
                    <hr class="p-ml-4 p-mr-4">
                </div>
                <div *ngIf="!(nextBirthdays | async)?.length">
                    <div class="birthday-item p-ml-3">
                        <div class="birthday-list-detail">
                            <p class="p-mb-1"><i class="pi pi-info-circle birthday-icon"></i>Gelecek
                                doğum günü bulunmamaktadır.</p>
                        </div>
                    </div>
                    <hr class="p-ml-4 p-mr-4">
                </div>
                <br>
            </div>
        </div>
    </div>
</div>